.modal_delete {
  background-color: #b9b9b9;
  margin-top: 30%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 340px;
  text-align: center;
  min-height: 1px; }

.modal_delete p {
  font-size: 20px;
  color: #000;
  margin: 30px 0; }

@media (max-width: 480px) {
  .modal_delete button {
    width: 100px; } }
